@model FCCNet5.Models.ApplicationType

@{
    ViewData["Title"] = "Create Application Type";
}

<h1 class="text-primary mb-5">@ViewData["Title"]</h1>

<form method="post" asp-action="Store">

    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <input type="submit" value="Save" class="btn btn-primary">
    <a asp-action="Index" class="btn btn-secondary">Back</a>
</form>

@section Scripts {
    @{ <partial name="_ValidationScriptsPartial"></partial> }
}